# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/raw/**
!data/cleaned_student_performance.csv

# System / IDE
.DS_Store
.idea/
.vscode/

# Models / artifacts
models/
models/*.pkl
models/*.joblib
models/*.pickle
